<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        text-align: center;
        background: url("https://ww1.sinaimg.cn/large/006y8lVagw1fbo1zam46aj30m80m8q3b.jpg");
        background-size: cover;
        background-position: center;
        color: white;
        font-family: helvetica;
      }
</style>
  </head>

  <body>
    <%= render "common/navbar"%>
    <%= render "common/flashes"%>
    <%= yield %>
  </body>
  <%= render "common/footer"%>
</html>
