<!DOCTYPE html>
<html>
  <head>
    <title>血色酒馆</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <link rel="shortcut icon" href="/images/logo.ico">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body class ="main-container ">
    <%= render "common/navbar"%>
    <%= render "common/flashes"%>
    <%= yield %>
  </body>
  <%= render "common/footer"%>



</html>
